:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    230,227,225;
--color-neutral-200:    194,188,184;
--color-neutral-300:    159,149,143;
--color-neutral-400:    121,110,104;
--color-neutral-500:    80,73,69;
--color-neutral-600:    58,53,50;
--color-neutral-700:    36,33,31;
--color-neutral-800:    14,13,12;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    249,215,213;
--color-primary-300:    240,150,146;
--color-primary-400:    230,85,79;
--color-primary-500:    204,36,29;
--color-primary-600:    168,30,24;
--color-primary-700:    133,23,19;
--color-primary-800:    97,17,14;
--color-primary-900:    61,11,9;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    245,246,209;
--color-secondary-300:    231,233,145;
--color-secondary-400:    217,220,82;
--color-secondary-500:    184,187,38;
--color-secondary-600:    151,153,31;
--color-secondary-700:    117,119,24;
--color-secondary-800:    84,85,17;
--color-secondary-900:    51,51,10;
}
